<%- include('../includes/head.ejs') %>
  <script type="module" src="/scripts/admin-products.js"></script>
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>

    <main class="px-4">
      <section>
        <h1 class="text-4xl font-bold">Admin Product Page</h1>
        
        <form id="filterForm" action="/admin/products" method="post" class="mt-2">
          <div class="flex flex-row items-center gap-x-2">
            <label for="userId">Sort product created by: </label>


            <select name="userId" id="userId" class="border px-2 py-1 border-solid border-black">
              <% if (selectedUserId === null) { %>
              <option value="" selected>All</option>
              <% } else { %>
              <option value="">All</option>
              <% } %>

              <% for (const user of users) { %>
                <% if (selectedUserId === user.id) { %>
                <option value="<%= user.id %>" selected><%= user.name %></option>
                <% } else { %>
                <option value="<%= user.id %>"><%= user.name %></option>
                <% } %>              
              <% } %>
            </select>
          </div>
        </form>

        <p class="mt-2">List of all the products:</p>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-5 mt-2 gap-4">
          <% if (products.length > 0) { %>

          <!--  -->

          <% for (const product of products) { %>
          <article class="group w-full flex flex-col shadow-md transition duration-100 ease-in-out hover:scale-105">
            <figure class="w-full h-[200px] overflow-hidden">
              <img
                src="<%= product.imageUrl %>"
                alt="{{ title }}"
                class="w-full h-full object-center object-cover transition duration-300 ease-in-out group-hover:scale-125"
              />
            </figure>
            <h2 class="text-2xl font-bold p-2 line-clamp-1">
              <a href="/products/<%= product.id %>" class="hover:underline"><%= product.title %></a>
            </h2>
            <div class="px-2 mb-4">
              <p class="mb-1 text-xl font-semibold">$<%= product.price %></p>
              <p class="line-clamp-3"><%= product.description %></p>
            </div>
            <footer class="flex-grow px-2 pb-2 flex flex-row justify-end items-end self-end">
              <div class="relative flex flex-row gap-2">
                <a
                  href="/admin/edit-product/<%= product.id %>?edit=true"
                  class="h-fit py-1 px-2 text-[#0E79B2] border border-solid border-[#0E79B2] rounded-sm transition duration-100 ease-in-out hover:text-white hover:bg-[#0E79B2] active:scale-90"
                >
                  Edit
                </a>

                <form action="/admin/delete-product" method="post">
                  <input type="hidden" name="productId" value="<%= product.id %>">
                  <button
                    type="submit"
                    class="h-fit py-1 px-2 text-red-500 border border-solid border-red-500 rounded-sm transition duration-100 ease-in-out hover:text-white hover:bg-red-500 active:scale-90"
                  >
                    Delete
                  </button>
                </form>
              </div>
            </footer>
          </article>
          <% } %>

          <!--  -->

          <% } else { %>

          <div class="w-full max-w-[300px]">
            <p>There are no products.</p>
          </div>

          <% } %>
        </div>
      </section>
    </main>
<%- include('../includes/end.ejs') %>