<%- include('../includes/head.ejs') %>
  <script type="module" src="/scripts/product-detail.js"></script>
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>

    <main class="px-4 pb-4">
      
      <article class="w-full max-w-lg mx-auto flex flex-col items-center gap-y-4">
        <form id="changeUserForm" action="/products/<%= product.id %>" method="post" class="mt-2 self-start">
          <input type="hidden" name="changeUser" value="true">
          
          <div class="flex flex-row items-center gap-x-2">
            <label for="userId">Login as: </label>
  
            <select name="userId" id="userId" class="border px-2 py-1 border-solid border-black">
              <% for (const user of users) { %>
                <% if (selectedUserId === user.id) { %>
                <option value="<%= user.id %>" selected><%= user.name %></option>
                <% } else { %>
                <option value="<%= user.id %>"><%= user.name %></option>
                <% } %>              
              <% } %>
            </select>
          </div>
        </form>

        <h1 class="text-4xl font-bold text-center"><%= product.title %></h1>

        <hr class="w-full">

        <figure class="w-full max-w-[300px] h-fit overflow-hidden">
          <img
            src="<%= product.imageUrl %>"
            alt="<%= product.title %>"
            class="w-full h-full object-center object-cover "
          />
        </figure>

        <h2 class="text-xl font-semibold">$<%= product.price %></h2>

        <p class="whitespace-pre-line"><%= product.description %></p>

        <form action="/cart" method="post" class="flex flex-row gap-x-2">
          <input type="hidden" name="productId" value="<%= product.id %>">
          <input type="hidden" name="userId" value="<%= selectedUserId %>">
          
          <button
            class="h-fit py-1 px-2 text-[#0E79B2] border border-solid border-[#0E79B2] rounded-sm transition duration-100 ease-in-out hover:text-white hover:bg-[#0E79B2] active:scale-90"
          >
            Add to Cart
          </button>
        </form>
    </article>
    </main>
<%- include('../includes/end.ejs') %>